<!DOCTYPE html>
<html>
<head>
	<title>Diff</title>
	<!-- CSS -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/styles/github.min.css">
	<link rel="stylesheet" type="text/css" href="/css/vendor/diff2html.css">
</head>
<body>
	<div id="line-by-line"></div>

	<!-- Javascripts -->
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/highlight.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/9.12.0/languages/scala.min.js"></script>
	<script type="text/javascript" src="/js/vendor/diff2html.js"></script>
	<script type="text/javascript" src="/js/vendor/diff2html-ui.js"></script>

	<script type="text/javascript">
		$(document).ready(function() {
		    var diff2htmlUi = new Diff2HtmlUI({diff: "{{ diff_content|safe }}"});
		    diff2htmlUi.draw('#line-by-line', {inputFormat: 'diff', showFiles: true, outputFormat: 'line-by-line'});
		    diff2htmlUi.fileListCloseable('#line-by-line', false);
		});

	</script>
</body>
</html>